.columbacenter{
    text-emphasis: center;
    color: aqua;
}
.ggg{
    font-size: 23px;
}
.columbakk{
    text-align: center;
    color:rgb(245, 245, 245);
    background-color: rgb(40, 96, 96);
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px 30px;
    width: 90%; 
    height: 100%;
    overflow: hidden;
}
.card-body{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}
.columbagg{
    font-size: 50px;
    text-align: center;
}
.card-text:last-child {
    margin-bottom: 0;
}
.centercenter{
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.blueblue{
    color: blue;
}
.columbapadding{
    padding: 120px;
}
.columbagk{
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px 30px;
    width: 90%; 
    height: 100%;
    overflow: hidden;
}
a.columbalink{
    color: aqua;
    padding: 10px;
}
a.columbalink:hover{
    background-color: blueviolet;
    padding: 0 10px;
    border-radius: 20px;
}
section#about {
    background-color: #0dcaf0;
    background-image: url(../ooo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
section#callme {
    background-color: #0dcaf0;
    background-image: url(../ooo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}
section#about h1{
    color: #343140;
}
section#callme h2{
    color: #343140;
}
.noto-serif-tc-aa {
  font-family: "Noto Serif TC", serif;
}
.columbakg{
    text-align: center;
    color:rgb(245, 245, 245);
    background-color: deeppink;
    border-radius: 30px;
    margin: 0 auto;
    padding: 10px 10px;
    width: 90%; 
    height: 100%;
    overflow: hidden;
}